@import url("https://fonts.googleapis.com/css?family=Indie+Flower|Permanent+Marker");
@import url("https://fonts.googleapis.com/css?family=Indie+Flower|Permanent+Marker");
body {
  font-family: Indie Flower, sans-serif;
  background: #ffffff;
  background: url("https://www.transparenttextures.com/patterns/gplay.png"), linear-gradient(180deg, #ffffff, #ffeb6b);
}

h1, h2, h3, h4, h5, h6 {
  font-family: Permanent Marker, cursive;
}

h1 {
  font-size: 150px;
}

img {
  width: 100%;
  height: auto;
}
