// Font Variables
$headline:Permanent Marker;
$headline-fb:cursive;
$body:Indie Flower;
$body-fb:sans-serif;

$headine-font-size:150px;

@import url('https://fonts.googleapis.com/css?family=Indie+Flower|Permanent+Marker');
